.current-training {
    display: flex;
    flex-direction: column;
    align-content: center; // fxLayoutAlign
    align-items: center; // fxLayoutAlign
    justify-content: center; // fxLayoutAlign
    padding: 30px;
}