
a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}


.example-spacer {
    flex: 1 1 auto;
}

.navigation-items {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-menu {
    display: none;
}

@media only screen and (max-width:600px) {
    .navigation-menu {
        display: flex;
    }

    .navigation-items {
        display: none;
    }
}