<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <p>I'm sidenav!</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="navigation-menu">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div> <a routerLink="/">LOGO</a></div>
            <div class="example-spacer"></div>
            <ul class="navigation-items">
                <li><a routerLink="/signup">Signup</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/training">Training</a></li>
            </ul>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>