/*
https://blog.angular.io/modern-css-in-angular-layouts-4a259dca9127
*/

/*
display: flex;
flex-direction: row // fxLayout
flex-wrap: wrap //fxLayout
box-sizing: border-box;
align-content: stretch, // fxLayoutAlign
align-items: stretch, // fxLayoutAlign
justify-content: flex-start, // fxLayoutAlign
*/
.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}