.welcome { 
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap; //fxLayout
    //box-sizing: border-box;
    align-content: center; // fxLayoutAlign
    align-items: center; // fxLayoutAlign
    justify-content: center; // fxLayoutAlign
    // align-content: center;
    text-align: center;
    gap: 20px;
}

@media screen and (max-width:991px) {
    .welcome {
        flex-direction: column; // fxLayout
    }
}
